.container {
  max-width: 80%;
  height: 800px;
  margin: 2rem auto;
  padding: 1rem;
  scroll-margin-top: 60px; /* アンカーがズレる為 */
}

.heading {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.text {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.skillList {
  list-style: disc inside;
  padding-left: 0.5rem;
  font-size: 1rem;
  line-height: 1.6;
}
